<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrga, confira os detalhes abaixo:</p>
<p>
  <strong>Motivo: </strong> {{ description }} <br />
  <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Remetente: </strong> {{ recipient }} <br />
</p>
